@charset "UTF-8";

h1, h2 {
  text-align: center;
  font-family: Arial, sans-serif;
}
summary {
  font-size: 130%;
}
ul {
  font-size: 110%;
}

table {
  margin: auto;
  list-style-position: inside;
}

#title {
  margin-right: 40vw;
}
