@charset "UTF-8";

input {
	font-size: 100%;
	font-family: Arial, sans-serif;
}

header {
  font-variant: small-caps;
  font-family: Arial, sans-serif;
  text-align: left;
}

h1{
  padding-left: 12vw;
  font-size: 5vmin;
  display: inline-block;
  height: 2.5vmin;
}

.messageBox {
	border-style: outset;
	border-width: 2px;
	z-index: 100;
	position: fixed;
	width: 350px;
	height: 150px;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -70%);
    text-align: right;
}

.messageBox table {
	width: 100%;
	height: 100%;
	padding-right: 35px;
}

.exit_message {
	width: 20px;
	height: 20px;
	padding: 0;
}

.okay_button {
	background-color: rgba(225, 236, 244, 0.8);
	padding-right: 8px;
	padding-left: 8px;
	border-width: 1px;
	border-style: groove;
}

.option_on {
	background-color: rgba(0, 0, 0, 0.13);
	border-width: 1px;
	border-style: groove;	
}

.option_off {
	background-color: white;
	border-width: 1px;
	border-style: groove;	
}

.page {
  position: absolute;
  top: 13vmin;
  bottom: 0;
  left: 8vw;
  right: 0;
  text-align: center;
  width:80vw;
  height: 83vh;
  border-spacing: 0;
}

.stats {
	padding: 0;
}

.stats p{
	float: left;
	padding-left: 5%;
	clear: both;
	height: 2%;
}

.sudoku{
  position: relative;
  margin: auto;
  width: 72vmin;
  height: 72vmin;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  border-color: rgb(0, 0, 0);
  border-width: 4px;
  font-size: 140%;
  border-style: solid;
}

.sudoku td {
  width: 8vmin;
  height: 8vmin;
  padding: 0;
  margin: 0;
  position: relative;
  border-style: solid;
}
.sudoku td:hover {
  background-color: rgba(0, 128, 255, 0.1);
}

.sudoku input {
	width: 100%;
	height: 100%;
	padding: 0;
}

.home {
  margin-left: 60%;
  display: inline-block;
}

.top_y {
	border-left-width: 3px;
	border-top-width: 3px;
}

.top_n {
	border-left-width: 1px;
	border-top-width: 3px;
}

.middle_y {
	border-left-width: 3px;
	border-top-width: 1px;
}

.middle_n {
	border-left-width: 1px;
	border-top-width: 1px;
}



.inputBox {
	padding-top: 15%;
	padding-bottom: 15%;
	width:100%;
	height: 100%;
}


.inputButton{
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 170%;
	border-radius: 15%;
	background-color: rgba(0, 0, 0, 0.07);
	padding: 0;
}

.specialHelp {
	width: 100%;
	height: 100%;
	padding-right: 50%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.helpButton {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.helpButton:hover, .inputButton:hover {
	background-color: rgba(0, 128, 255, 0.1);
}

.helpButton:active, .inputButton:active{
  background-color: rgba(0, 128, 255, 0.1);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.statusCell {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.pauseButton {
	background-color: rgb(255, 255, 255);
	border: none;
	padding: 0;
	border-radius: 30%;
}

.pauseButton_none {
	display: none;
}

.done {
	font-weight: bold;
}

.num_incomplete, .num_complete{
	display: inline-block;
	border-radius: 15%;
	background-color: rgba(0, 0, 0, 0.03);
}

.num_complete {
	background-color: rgba(0, 0, 0, 0.25);
}

.prefilledCell input{
	font-weight: bold;
}

.prefilled_inputBox {
	outline: none;
	font-weight: bold;
    border: solid 0 #fff;
    text-align: center;
    margin: 0;
    width: 24pt;
    background-color: transparent;
}

.nonfilled_inputBox, .filled_inputBox, .wrong_inputBox{
	outline: none;
    border: solid 0 #fff;
    text-align: center;
    margin: 0;
    width: 24pt;
    background-color: transparent;
    color: rgba(10, 140, 255, 1);
}

.wrong_inputBox {
	color: rgba(255, 0, 0, 1);
}

.result_correct{
	color: blue;
}

.result_mistake {
	color: red;
}

.result_submit_correct {
	font-size: large;
	font-weight: bold;
}
